/* #characterArea
{
    width:1000px;
    height:500px;
    background-color: rgba(0, 0, 0, 0.445);
}
#character
{
    display: inline-block;
    position: absolute;
    right:0;
    left: 0;
    top:0;
    bottom:0;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 127, 80,0.9);
} */

#canvas{
    width: 800px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.644);
}