.message{
    padding:10px;
    width:300px
}
.active {
    background-color:teal;
    color:white;
}
.frame{
    padding:10px;
    width:300px;
    border:5px solid darkgray;
}

.change-mode{
    background-color: black;
    color:white;
}
button{
    box-sizing: border-box;
    padding:10px;
    border-radius: 10px;
    border:.5px solid grey;
}
button:hover{
    background-color: rgb(218, 218, 218);
}
.button-lightmode
{
    background-color: black;
    color:white;
}
.button-lightmode:hover
{
    background-color: rgb(88, 88, 88);
    color:white;
}