<<<<<<< HEAD
#message
{
    border-radius : 10px;
    padding : 20px;
    border: 2px solid darkorange;
}

button
{
    border-radius: 2px;
    padding: 5px 20px;
    border : none;
    background-color:coral;
    color:white;
}

h1
{
    padding: 10px;
    font-size:16px;
    background-color:darkred;
    color:white;
}

h2
{
    font-size:14px;
    padding:5px;
    border-bottom: 1px solid darkred;
}

input[type=number]
{
    border-radius: 3px;
    padding:5px;
    border: 1px solid darkred
}

#count
{
    padding: 10rem;
    font-size: 5rem;
}

=======
#message {
    border-radius: 10px;
    padding: 20px;
    border: 2px solid darkcyan;
}

button {
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
    background-color:darkcyan;
    color: white;
}

h2 {
    padding: 10px;
    font-size: 16px;
    background-color: darkcyan;
    color: white;
}

h3 {
    font-size: 14px;
    padding: 5px;
    border-bottom: 1px solid darkcyan;
}

input[type=number] {
    border-radius: 3px;
    padding: 5px;
    border: 1px solid darkcyan;
}

#count {
    padding: 10rem;
    font-size: 5rem;
}
>>>>>>> 3575d028eaf3cc8f6b14f2f269d52a6b3f5b467f
