.screenGame
{
    margin:auto; 
}

#title
{
    background-color: mediumturquoise;
    padding: 6pt;
    text-align: center;
    color:white;
    font: 20pt Arial;
    font-style: oblique;
}
.boxContainer .box
{
    display: inline-block;
}
#box-low
{
    background-color:#78e08f;
    border-width: 1px;
    border-color: #78e08f;
    padding: 5pt;
    border-radius: 5px;
    color: white;
}
#box-draw
{
    background-color:#60a3bc;
    border-width: 1px;
    border-color: #60a3bc;
    padding: 5pt;
    border-radius: 5px;
    color:white
}
#box-high
{
    background-color: #38ada9;
    border-width: 1px;
    border-color:#38ada9;
    padding: 5pt;
    border-radius: 5px;
    color:white;
}
#box-retry
{
    background: #ffffff;
    border-width: 1px;
    border-color: #38ada9;
    padding: 4pt;
    border-radius: 5px;
    color: #38ada9;
}
#box-retry:hover
{
    background-color:aliceblue;
}
p
{
    font-family: Arial;
}
#number
{
    font-size: 25pt;
}
#scores
{
    font-size: 10pt;
}
#resultText
{
    font-size:30pt;
    margin-top: 15pt;
}
