.menu
{
    margin-top: 0;
    padding:20px;
    background-color: darkcyan;
    
}

.namaAnimasi
{
    animation-duration: 0.8s;
    animation-name: namaAnimasi;
}
@keyframes namaAnimasi {
    from{
        color:rgba(255, 255, 255, 0);
        background-color: rgba(0, 139, 139, 0);
    }

    to{
        color:darkcyan;
        background-color: white;
    }
}
.menu a
{
    padding:10px;
    color:white;
    text-decoration: none;
}

.message{
    padding: 10px;
    width: 300px;
    color:teal;
}

.active{
    background-color: teal;
    color: white;
}

.active2
{
    background-color: black;
    color: white;
}

.frame
{
    padding:10px;
    width: 300px;
    border:5px solid darkgray;
    text-align: center;
    background-color: black;
    color:white;
}
button
{
    padding:10px;
    box-sizing: border-box;
    border-radius: 10px;

}
button:hover
{
    padding:10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: yellow;
}
.buttonAnimasi
{
    animation-name: buttonAnimasi;
}
@keyframes buttonAnimasi 
{
    from{
        
    }   
    to
    {

    } 
}